.hero-bkg-animated {
  background: transparent url(../images/background2.png) repeat 0 0;
  width: 100%;
  margin: 0;
  text-align: center;
  padding-top: 10px;
  box-sizing: border-box;
  -webkit-animation: slide 20s linear infinite;

  min-height: 100%;
  height: auto !important; /*min-height hack*/
  height: 100%;            /*min-height hack*/
  margin-bottom: -4em;     /*Negates #push on longer pages*/
}

.hero-bkg-animated h1 {
  font-family: sans-serif;
}

@-webkit-keyframes slide {
    from { background-position: 0 0; }
    to { background-position: -400px 0; }
}

/*Slide from left */
@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

body{  
  /* This section calls the slideInFromLeft animation we defined above */
  animation: 1s ease-out 0s 1 slideInFromLeft;
  
  background: #333;
  padding: 30px;
}


/* Button Animation */
button{
}